h1, h2 {
  font-family: "Dancing Script", cursive;
}

body {
  font-family: "Dancing Script", cursive;
}

footer {
  height: 150px;
  width: 100%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer .contact {
  width: 25%;
  display: flex;
  height: 100%;
  justify-content: center;
}
footer .contact ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0%;
  padding: 0%;
}
footer .contact ul li {
  font-weight: bold;
  text-align: center;
  list-style-type: none;
  color: #e1208d;
}
footer .figurefooter {
  margin: 0;
  height: 100%;
}
footer .figurefooter img {
  height: 100%;
}
footer .reseaux {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.hidden,
[hidden] {
  display: none !important;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  height: 50em;
  margin: auto;
  background-color: whitesmoke;
  padding: 1em;
  box-shadow: 8px 7px 5px 0px rgba(0, 0, 0, 0.34);
}
form legend {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
}
form input {
  width: 45%;
  padding: 0.3em;
  margin: 0.3em;
}
form .nom_prenom {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
form .nom_prenom .nom, form .nom_prenom .prenom {
  width: 45%;
  margin: 0.3em;
}
form textarea {
  width: 98.5%;
  margin: 0.3em;
}
form .btn_submit_reset {
  width: 100%;
  height: 8%;
  font-size: 1.5em;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}
form .btn_submit_reset input[type=submit], form .btn_submit_reset input[type=reset] {
  width: 50%;
  background-color: #c7c7c7;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
form .btn_submit_reset input[type=submit]:hover, form .btn_submit_reset input[type=reset]:hover {
  background-color: #353535;
  color: white;
}

.suggestion h2 {
  margin-left: 3em;
  padding-top: 3em;
  padding-bottom: 2em;
}
.suggestion .suggestion_liste {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
}
.suggestion .suggestion_liste figcaption {
  display: flex;
  justify-content: space-between;
}
.suggestion .suggestion_liste figcaption p {
  margin: 0;
}

@media screen and (max-width: 599px) {
  .suggestion {
    display: none;
  }
}
#toggle {
  display: none;
}

.burger {
  position: relative;
  display: inline-block;
  display: none;
}

.burger img {
  width: 50px;
  height: 50px;
}

.menuBurger {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  display: none;
  left: 0;
  top: 0;
  z-index: 99;
  transition: left 1s;
  position: fixed;
}

@media screen and (max-width: 599px) {
  .burger, .iconePanier {
    display: block;
  }

  .nav-left {
    display: none;
  }

  .nav-right a {
    display: none;
  }

  .logo-du-site {
    margin: auto;
  }
}
.main .titre {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .titre h2 {
  text-align: center;
  color: #e1208d;
  font-size: 2em;
  width: 55%;
}
.main .titre .grostitre {
  font-size: 2.5em;
  width: 20%;
  border: 5px #e1208d double;
}
.main .articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main .articles figure {
  width: 27%;
  border: 5px solid #222;
  border-radius: 3em;
}
.main .articles figure figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;
  padding-left: 2%;
  height: 15%;
  font-size: 1.3em;
  border-bottom: 3px solid #222;
}
.main .articles figure figcaption span {
  height: 50%;
}
.main .articles figure img {
  width: 100%;
  border-radius: 0em 0em 3em 3em;
  height: 84.5%;
}
.main .hidden,
.main [hidden] {
  display: none !important;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

.contactTitle {
  text-align: center;
  padding: 2em;
}

.contact_form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-evenly;
}
.contact_form figure {
  width: 100%;
  margin: auto 0;
  display: flex;
  justify-content: center;
}
.contact_form figure img {
  width: auto;
  box-shadow: 8px 7px 5px 0px rgba(0, 0, 0, 0.34);
}

@media screen and (max-width: 599px) {
  .contact_form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
  }
  .contact_form figure {
    display: none;
  }
}
.produit__principal {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.produit__principal figure {
  margin: 0 auto;
  width: 50%;
}
.produit__principal .produit__side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.produit__principal .produit__side__details {
  font-size: 1em;
  font-weight: normal;
}
.produit__principal .produit__side__nom {
  margin-top: 0;
}
.produit__principal .produit__side__quantite {
  width: 10%;
  margin-left: 1em;
  margin-top: 1em;
}
.produit__principal .produit__side__ajoutPanier {
  margin: auto;
  padding: 0.5em;
  width: 50%;
  background-color: #c7c7c7;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.produit__principal .produit__side__ajoutPanier:hover {
  background-color: #353535;
  color: white;
}

.details {
  margin-left: 10em;
  margin-top: 5em;
}

@media screen and (max-width: 599px) {
  .produit {
    display: grid;
    grid-template-columns: 1fr;
  }
  .produit__principal {
    grid-template-columns: 1fr;
  }
  .produit figure {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .produit .produit__side {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .produit .produit__side__nom {
    margin-top: 2em;
    text-align: center;
  }
  .produit .produit__side__details {
    margin-left: 2em;
    margin-right: 2em;
    text-align: justify;
  }
  .produit .produit__side__prix {
    margin-left: 2em;
  }
  .produit .produit__side__quantite, .produit .produit__side label {
    margin-left: 2em;
  }
  .produit .produit__side__ajoutPanier {
    margin-top: 2em;
  }
  .produit .details {
    margin-left: 2em;
    margin-bottom: 3em;
  }
}
.apropos .apropos__titre {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1%;
}
.apropos .apropos__titre .apropos__h1 {
  font-size: 3em;
}
.apropos .apropos__titre .apropos__h2 {
  font-size: 2em;
}
.apropos .apropos__element1 {
  display: flex;
  margin-bottom: 2%;
  margin-right: 5%;
}
.apropos .apropos__element1 .apropos__element__texte1 {
  font-size: 1.5em;
  width: 65%;
  text-align: center;
  display: flex;
  align-items: center;
  padding-right: 2%;
  line-height: 2.5;
  padding-left: 2%;
}
.apropos .apropos__element1 .apropos__element__photo1 {
  width: 35%;
  margin: 0%;
}
.apropos .apropos__element1 .apropos__element__photo1 img {
  width: 100%;
}
.apropos .apropos__element1 .apropos__element__photo1 figcaption {
  text-align: center;
}
.apropos .apropos__element2 {
  display: flex;
  margin-bottom: 1%;
  margin-left: 5%;
}
.apropos .apropos__element2 .apropos__element__texte2 {
  font-size: 1.5em;
  width: 65%;
  text-align: center;
  display: flex;
  align-items: center;
  padding-right: 2%;
  line-height: 2.5;
  padding-left: 2%;
}
.apropos .apropos__element2 .apropos__element__photo2 {
  width: 35%;
  margin: 0%;
}
.apropos .apropos__element2 .apropos__element__photo2 img {
  width: 100%;
}
.apropos .apropos__element2 .apropos__element__photo2 figcaption {
  text-align: center;
}

/*# sourceMappingURL=sassStyle.css.map */
