.contactTitle {
    text-align: center;
    padding: 2em;
}

.contact_form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-evenly;

        figure {
            width: 100%;
            margin: auto 0;
            display: flex;
            justify-content: center;
            
            img {
                width: auto;
                box-shadow: 8px 7px 5px 0px rgba(0, 0, 0, 0.34);
            }
        }
}

@include mobile {
    .contact_form{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        height: 100%;
    
            figure  {
                display: none;
            }
    }
}
@include desktopxsmall {
    .contact_form{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        height: 100%;
    
            figure  {
                display: none;
            }
    }
}