.main{
    & .titre{
        display: flex;
        flex-direction: column;
        align-items: center;
        & h2{
            text-align: center;
            color: #e1208d;
            font-size: 2em;
            width: 55%;
        }
        & .grostitre{
            font-size: 2.5em;
            width: 20%;
            border: 5px #e1208d double;
        }
    }
    & .articles{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        & a {
            width: 27%;
            margin-bottom: 3%;
            border: 5px solid #222;
            border-radius: 3em;
        
            & figure{
                width: 100%;
                height: 100%;
                // border: 5px solid #222;
                // border-radius: 3em;
                & figcaption{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-right: 5%;
                    padding-left: 2%;
                    height: 20%;
                    font-size: 1.3em;
                    border-bottom: 3px solid #222;
                    & span{
                    height: 50%;
                }
            }
            & img{
                width: 100%;
                border-radius: 0em 0em 3em 3em;
                height: 79.5%;
            }
        }
        }
    }
    & .hidden,
    [hidden] {
      display: none !important;
    }
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  