.produit__principal {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    figure {
        margin: 0 auto;
        width: 50%;
    }

    .produit__side {
        margin-left: 3%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
            &__details {
                font-size: 1em;
                font-weight: normal;
            }

            &__nom {
                margin-top: 0;
            }

            &__quantite {
                width: 10%;
                margin-left: 1em;
                margin-top: 1em;
            }

            &__ajoutPanier {
                margin: auto;
                padding: 0.5em;
                width: 50%;
                background-color: rgb(199, 199, 199);
                color: black;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
        
            &__ajoutPanier:hover{
                background-color: rgb(53, 53, 53);
                color: white;
            }
    }
}

.details {
    margin-left: 10em;
    margin-top: 5em;      
}

@include desktop1300 {
    .produit {
        display: grid;
        grid-template-columns: 1fr;

            &__principal {
                grid-template-columns: 1fr;
            }

            figure {
                width: 100%;
                display: flex;
                justify-content: center;
                
            }

            .produit__side {
                width: 100%;
                display: flex;
                justify-content: center;
                
                    &__nom {
                        margin-top: 2em;
                        text-align: center;
                    }

                    &__details {
                        margin-left: 2em;
                        margin-right: 2em;
                        text-align: justify;
                    }

                    &__prix {
                        margin-left: 2em;
                    }
        
                    &__quantite, label {
                        margin-left: 2em;
                    }
        
                    &__ajoutPanier {
                        margin-top: 2em;
                    }
            }

            .details {
                margin-left: 2em;
                margin-bottom: 3em;
            }
    }
}
